@import "./mobile/main.css";
@import "./computer/main.css";

@font-face {
    src: url("../../font/Silkscreen-Regular.ttf");
    font-family: Silkscreen;
}
* {
    font-family: Silkscreen;
}
:root{
    --primary:#0718665f;
    --secondary:#093475;

    --text_on_primary: #e0f7fa;
    --text_on_secondary: #e8eaf6;

    --primary_light: #0718665f;
    --primary_dark: #071866;


    --secondary_light: #4e5b705f;
    --secondary_dark: #093475af;

    --full_screen_width: 100vw;

    --pp_contact: url("https://avatars.githubusercontent.com/u/34311347");

    --background_image: url("../../res/new_background.jpg");

    /*--logo_image: url('../../res/logo_nf.png');*/

}

body {
    background-image: var(--background_image);
    background-position: 50%;
    background-attachment: fixed;
    background-size: cover;
}

/* brands logo */ 
#contact .logo  {
    height: 120px;
    width: 120px;
    padding: 30px;
}