@media only screen and (max-width: 1201px) {

    .navbar.logo {
        height: 100vh;
        width: 100vw;
        background-image: none;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 50%;

    }

    .navbar {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 32pt;
        align-items: center;
        transform: translateY(5%);    
    }

    @keyframes alternate_hover {

        from {
            background-color: var(--primary_dark);
        }
        to {
            background-color: var(--secondary_dark);
        }

    }

    .navbar.items {
        display: flex;
        padding: 20%;
        width: 100%;
        background-color: var(--primary_dark);
        color: var(--text_on_secondary);
    }

    .navbar.items:first-of-type {
        animation-name: alternate_hover;
        animation-duration: .25s;
        animation-iteration-count: 2;
    }
    .navbar.items:last-of-type {
        animation-name: alternate_hover;
        animation-duration: .25s;
        animation-iteration-count: 2;
        animation-delay: 1s;
    }

    .show_navbar {
        visibility: hidden;
    }


}