@media only screen and (min-width: 1201px) {

    #gallery {
        height: max-content;
        width: 80%;
        position: absolute;
        top: 0;
        left: 100%;
        display: none;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: var(--secondary_dark);
        transition: transform 2.5s;
        z-index: 0;
        flex-wrap: wrap;
    }

    #gallery .vignette {
        height: 280pt;
        width: 30%;
        min-width: 280pt;
        margin-right: 20pt;
        margin-bottom: 20pt;
        color: var(--text_on_secondary);
        font-size: 18pt;
    }
    #gallery img {
        height: 80%;
        width: 100%;
        border-radius: 5px;
    }

  
}