@media only screen and (min-width: 1201px) {

        
    .navbar.logo {
        position: fixed;
        background-image: var(--logo_image);
        background-size: cover;
        height: 180pt;
        width: 180pt;
        z-index: 20;
        transition: transform .5s;
        border-radius: 50%;
        margin-left: 25pt;
        filter: brightness(56%);
        user-select: none;
    }

    .navbar.logo
    {
        transition: filter 0.5s;
        filter: brightness(100%);
    }


    .navbar.items {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: none;
        background-color: var(--primary_dark);
        color: var(--text_on_secondary);
        height: 80pt;
        width: 140pt;
        transition: transform 1.5s;
        z-index: 20;
        transition: background-color .5s;
    }

    #write_console {
        content: " ";
        transform: translateY(250pt);
        font-size: 16pt;
        width: 135pt;
        height: 115pt;
        word-wrap: break-word;
        background-color: var(--primary_dark);
        color: var(--text_on_secondary);
        border: 5pt solid var(--text_on_secondary);
        border-radius: 1.5%;
    }

    .navbar.items:hover
    {
        background-color: var(--primary_light);
    }
    .navbar.items {
        transform: translateY(300pt);
    }
}