@media only screen and (min-width: 1201px) {


    #timeline 
    {
        position: absolute;
        height: max-content;
        width: 80%;
        left: 100%;
        background-color: var(--secondary_dark);
        transition: transform 2.5s;
    }

    #timeline .main
    {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10%;
    }

    #timeline .rule
    {
        content: " ";
        width: 0.5em;
        margin: 0 1.5%;
        background-color: var(--text_on_primary);
    }

    #timeline .rule .circle {
        content: " ";
        width: 1.5em;
        height: 1.5em;
        transform: translateX( -40% ) translateY(3.5em);
        border-radius: 50%;
        border: 0.5em solid var(--primary);
        background-color: var(--text_on_primary);
    }

    #timeline .rule .circle:nth-child(2)
    {
       transform: translateX( -40% ) translateY(calc(100% + 35.5em));
    }

    #timeline .last .circle:last-of-type
    {
        border-radius: 0;
        background-color: var(--primary);
        border-color: var(--text_on_primary);
    }

    #timeline .container
    {
        margin-top: 1%;
        width: calc(50% - 5em);
        height: 35%;
    }

    #timeline .left
    {
        transform: translateY(140%);
    }

    #timeline .content
    {
        padding: 2em 2.5em;
        margin-left: 0.5em;
        width: auto;
        height: 16em;
        background-color: var(--text_on_primary);
        overflow-y: auto;
        border-radius: 5pt;
    }

    #timeline .right
    {
        margin-bottom: 35%;
    }

    #timeline .right::after
    {
        content: " ";
        border: 3.1em solid;
        float: right;
        transform: translateY(-19em) translateX(6.1em);
        border-color: transparent transparent transparent var(--text_on_primary);
    }
    #timeline .left::after
    {
        content: " ";
        border: 3.1em solid;
        float: left;
        border-color: transparent var(--text_on_primary) transparent transparent;
        transform: translateX(-5.6em) translateY(-19em);
    }

}